*{
      font-family: "Montserrat", sans-serif;
}
@import "tailwindcss";

.img {
    background-image: url('./assets/Banner.png');
    background-size: cover;
    background-repeat: no-repeat;
}
/* Scrollbarni chiroyli qilish */
.custom-scroll::-webkit-scrollbar {
  height: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #a1a1aa; /* gray-400 */
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* gray-500 */
}
